$marginBetweenSections: 10%;
$marginBetweenSectionAndContents: 2%;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: monospace;
}

.container {
  height: 100%;
  width: 100%;
}

.container__bg-image {
  background: url("https://alchetron.com/cdn/f0rest-cf38f803-8aed-4a47-8af1-1ed97fab296-resize-750.jpeg");
  height: 550px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  z-index: -1;
}

.header {
  display: flex;
  padding: 1em;
  width: 100%;
  background-color: tomato;
  color: white;
}

.header__left {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.header__left > * {
  margin-right: 3%;
  font-size: 14px;
}

.header__left img {
  height: 20px;
}

.header__left__left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -15%;
}

.header__left__right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.header__right img {
  height: 25px;
  cursor: pointer;
  z-index: 99;
}

.header__right select {
  background: none;
  border: none;
  color: white;
  outline: none;
}

.header__right button {
  border: none;
  padding: 0.5em;
  margin-left: 2%;
  cursor: pointer;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  z-index: 999;
}

.navigation img {
  height: 20px;
}

.navigation__elements {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navigation__elements :first-child {
  color: tomato;
  text-decoration: underline;
}

.navigation__elements a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.title {
  width: 96%;
  height: 50%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2%;
  margin-top: 5%;
  color: white;
}

.title button {
  color: white;
  border: 1px solid white;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
}

.title__middle {
  width: 50%;
}

.title__middle h1 {
  font-size: 4vw;
  min-width: 100%;
  text-align: center;
}

.title__middle__paragraph-1 {
  font-size: 1vw;
  padding: 0.5em;
}

.title__middle__paragraph-2 {
  text-align: center;
  margin-bottom: 2%;
  padding: 1vw;
}

.title__middle__paragraph-2__span {
  color: red;
  margin: 2%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.btn button {
  background-color: white;
  color: black;
  border-radius: 2px;
  padding: 1vw;
}

.card {
  width: 75%;
  margin: -7% auto 0 auto;
  box-shadow: 1px 1px 9px 0 gainsboro;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 3vh;
}

.card__card1 {
  padding: 1em;
  display: flex;
  width: 300px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card__card1 img {
  height: 30px;
  margin-bottom: 2%;
}

.card__card1 p {
  text-align: center;
  padding: 1vw;
}

.card .vl {
  border-right: 1px solid gainsboro;
  height: 130px;
}

.paragraph {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: $marginBetweenSections;
}

.paragraph img {
  height: 25px;
  width: 50px;
}

.about-us {
  display: flex;
  height: 30%;
  width: 100%;
  background-color: gainsboro;
  margin-top: $marginBetweenSectionAndContents;
}

@media (max-width: 851px) {
  .vl {
    display: none;
  }

  .container__bg-image {
    height: 700px;
  }

  .card__card1 p {
    border-bottom: 1px solid gainsboro;
  }

  .card :last-child p {
    border: none;
  }

  .card {
    margin-top: -230px;
  }

  .about-us {
    display: flex;
    flex-direction: column-reverse;
  }

  .about-us img {
    width: 100% !important;
  }
}

.about-us img {
  min-height: 100%;
  width: 50%;
}

.about__main {
  margin: 5% 1%;
}

.about__main > * {
  margin: 2% 0;
}

.about__main h1 {
  width: 40%;
}

.about__message-container {
  padding: 1em;
  position: relative;
  background-color: white;
  width: 60%;
  box-shadow: 0px 0px 9px 1px gray;
}

.about__message-container::after {
  content: "";
  height: 20px;
  width: 20px;
  background-color: white;
  position: absolute;
  top: 87%;
  left: 70%;
  box-shadow: 2px 2px 2px 0px gray;
  transform: rotate(45deg);
}

.about__last-section {
  display: flex;
  margin-top: 10%;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.about__last-section button {
  padding: 1em;
  background-color: tomato;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 2px;
}

.service {
  margin: 0 auto;
  margin-top: $marginBetweenSections;
  text-align: center;
  width: 50%;
  p {
    text-align: center;
  }
}

.ribbons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
}

.ribbon {
  border-bottom: 1px solid red;
  width: 30px;
  margin: 5px;
  position: relative;
}

.ribbon:last-child::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: red;
  left: 0%;
  bottom: -18%;
  transform: rotate(45deg);
}

.ribbon:first-child::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: red;
  right: 0;
  bottom: -18%;
  transform: rotate(45deg);
}

.service__main {
  width: 70%;
  margin: 0 auto;
  margin-top: $marginBetweenSectionAndContents;
  display: flex;
  //   flex-wrap: wrap;

  &__left {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 1vw;
    & > div {
      margin: 10px;
      //   display: none;
    }

    &__card {
      display: flex;
      flex-direction: column;
      margin: 1vh;
      flex-basis: 42%;
      height: 225px;
      align-items: center;
      justify-content: center;
      border: 1px solid beige;
      box-shadow: 1px 1px 5px 1px gainsboro;
      color: black;
      & > * {
        margin: 0 2vw;
      }
      &:first-child {
        background-color: tomato;
        color: white;
        hr {
          background-color: white;
        }
      }
      & img {
        height: 40px;
      }
      & p {
        text-align: center;
        font-size: 10px;
        padding: 1vh;
      }
      hr {
        padding: 0;
        background-color: black;
        margin: 10px;
        width: 35px;
        border: 1ps solid black;
      }
    }
  }

  &__right img {
    width: 140%;
    height: 95%;
  }
}

.why-us {
  margin-top: $marginBetweenSections;
  width: 100%;
  height: 500px;
  background-color: gainsboro;
  color: transparent;
}
