* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: monospace;
}

.container {
  height: 1500px;
  width: 100%;
}

.container__bg-image {
  background: url("https://alchetron.com/cdn/f0rest-cf38f803-8aed-4a47-8af1-1ed97fab296-resize-750.jpeg");
  height: 35%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: -1;
}

.header {
  display: flex;
  padding: 1em;
  width: 100%;
  background-color: tomato;
  color: white;
}

.header__left {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.header__left > * {
  margin-right: 3%;
  font-size: 14px;
}

.header__left img {
  height: 20px;
}

.header__left__left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -15%;
}

.header__left__right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.header__right img {
  height: 25px;
  cursor: pointer;
  z-index: 99;
}

.header__right select {
  background: none;
  border: none;
  color: white;
  outline: none;
}

.header__right button {
  border: none;
  padding: 0.5em;
  margin-left: 2%;
  cursor: pointer;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  z-index: 999;
}

.navigation img {
  height: 20px;
}

.navigation__elements {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navigation__elements :first-child {
  color: tomato;
  text-decoration: underline;
}

.navigation__elements a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.title {
  width: 96%;
  height: 50%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2%;
  margin-top: 5%;
  color: white;
}

.title button {
  color: white;
  border: 1px solid white;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
}

.title__middle {
  width: 50%;
}

.title__middle h1 {
  font-size: 4em;
  text-align: center;
}

.title__middle__paragraph-1 {
  font-size: 12px;
  padding: 0.5em;
}

.title__middle__paragraph-2 {
  text-align: center;
  margin-bottom: 2%;
  padding: 1em;
}

.title__middle__paragraph-2__span {
  color: red;
  margin: 2%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.btn button {
  background-color: white;
  color: black;
  border-radius: 2px;
}

.card {
  width: 75%;
  margin: auto;
  box-shadow: 1px 1px 9px 0 gainsboro;
  background-color: white;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card__card1 {
  padding: 1em;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card__card1 img {
  height: 25px;
}

.card__card1 p {
  text-align: center;
}

.card .vl {
  border-right: 1px solid gainsboro;
  height: 80%;
}
