* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: auto;
  height: 100%;
  border: 1px solid black;
}

.top-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 96%;
  height: 100%;
  /* justify-content: space-between; */
}

.top-container__section-1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.top-container__section-1__header {
  font-size: 2em;
}

.top_container__pno {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div > div {
  margin: 2%;
}

.message-container {
  width: 96%;
  border: 1px solid black;
}

.message-container__first-line {
  display: flex;
}

.message-container__first-line select {
  width: 20%;
}

.message-container__first-line > p,
.message-container__second-line > p {
  width: 20%;
  text-align: right;
}

.message-container__second-line {
  display: flex;
}

.message-container__second-line__flex-1 {
  flex: 1;
}

.message-container__second-line__flex-1 > textarea {
  width: 100%;
}

.message-container__second-line__flex-1 p {
  text-decoration: underline;
}

.message-container__second-line__flex-2 {
  display: flex;
  margin-top: 4%;
  justify-content: start;
  align-items: center;
}

.message-container__second-line__flex-2 button {
  height: 3em;
  outline: none;
}
