* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: auto auto;
  border: 1px solid red;
  height: 100%;
}

.top-container {
  display: flex;
  flex-wrap: wrap;
}

.first-section {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.top-container > div {
  margin-left: 2%;
  margin-right: 2%;
}

.first-section__box {
  height: 70px;
  width: 20%;
  background-color: pink;
}

.second-section {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.second-section__box {
  background-color: pink;
}

.second-section__box1 {
  height: 100px;
  width: 30%;
}

.second-section__box2 {
  height: 30px;
  width: 10%;
  align-items: baseline;
}

.fourth-section {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

.fourth-section > .fourth-section-1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.fourth-section-1__box-1 {
  height: 20px;
  width: 20%;
  background-color: red;
}

.fourth-section-1__box-2 {
  height: 40px;
  width: 37%;
  background-color: black;
}

.fourth-section-1__box-3 {
  height: 20px;
  width: 37%;
  background-color: black;
}

.fourth-section-2 {
  display: flex;
  align-items: flex-start;
}

.fourth-section div {
  margin: 1%;
}

.fourth-section-2__nested {
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 80%;
  flex-wrap: wrap;
}

.fourth-section-2__box-1 {
  height: 80px;
  width: 100%;
  background-color: blueviolet;
}

.fourth-section-2__box-2 {
  height: 20px;
  width: 50%;
  background-color: blueviolet;
}

.fourth-section-3 {
  display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
}

.fourth-section-3__box-1 {
  width: 30%;
  height: 40px;
  background-color: saddlebrown;
}

.fourth-section-3__box-2 {
  width: 30%;
  height: 20px;
  background-color: saddlebrown;
}

.bottom-container {
  height: 100%;
}

.fourth-section-3__box-3 {
  background-color: white;
}

div > div :not(.top-container) {
  margin: 1%;
}

.tabs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tabs-container__tabs {
  /* margin: 0px !important; */
  display: flex;
  height: 25px;
  width: 100%;
}

.tabs-container__tabs__tab1 {
  height: 100%;
  width: 10%;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.tabs-container__nexttab {
  width: 10%;
  background-color: gray;
  height: 15px;
}

.bottom-container > div {
  margin: 1em;
}

.section-1 {
  display: flex;
  width: 98%;
  height: 50px;
  justify-content: space-between;
}

.section-1__box-1 {
  height: 90%;
  width: 25%;
  background-color: red;
}

.section-2 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  width: 98%;
  background-color: wheat;
}

.section-2__box {
  background-color: gray;
}

.section-2__box-1 {
  grid-column: 1/3;
  grid-row: 1/1;
}

.section-2__box-2 {
  grid-column: 1/11;
  grid-row: 2/5;
  height: 50px;
  align-self: start;
}

.section-2__box-3 {
  grid-column: 11/13;
  align-self: center;
  grid-row: 2/5;
  height: 50px;
}

.section-2__box-4 {
  grid-column: 1/5;
  grid-row: 6/7;
}

.section-2__box-5 {
  grid-column: 1/13;
  grid-row: 7/10;
  height: 50px;
}

.section-2__box-6 {
  grid-column: 1/3;
  grid-row: 10/11;
}

.section-2__box-7 {
  grid-column: 1/11;
  grid-row: 12/15;
  height: 50px;
  align-self: start;
}

.section-2__box-8 {
  grid-column: 10/13;
  grid-row: 16/17;
}

.section-2__box-9 {
  grid-column: 3/13;
  grid-row: 18/19;
  height: 50px;
  align-self: start;
}

.section-2__box-10 {
  grid-column: 1/3;
  grid-row: 20/21;
}

.section-2__box-11 {
  grid-column: 1/11;
  grid-row: 22/25;
  height: 50px;
  align-self: start;
}
