* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: monospace;
}

.container {
  height: 100%;
  width: 100%;
}

.container__bg-image {
  background: url("https://alchetron.com/cdn/f0rest-cf38f803-8aed-4a47-8af1-1ed97fab296-resize-750.jpeg");
  height: 550px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  z-index: -1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  width: 100%;
  background-color: tomato;
  color: white;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__left > * {
  margin-right: 3%;
  font-size: 14px;
}

.header__left img {
  height: 20px;
}

.header__left__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -15%;
}

.header__left__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
}

.header__right img {
  height: 25px;
  cursor: pointer;
  z-index: 99;
}

.header__right select {
  background: none;
  border: none;
  color: white;
  outline: none;
}

.header__right button {
  border: none;
  padding: 0.5em;
  margin-left: 2%;
  cursor: pointer;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 1em;
  z-index: 999;
}

.navigation img {
  height: 20px;
}

.navigation__elements {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.navigation__elements :first-child {
  color: tomato;
  text-decoration: underline;
}

.navigation__elements a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.title {
  width: 96%;
  height: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 2%;
  margin-top: 5%;
  color: white;
}

.title button {
  color: white;
  border: 1px solid white;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
}

.title__middle {
  width: 50%;
}

.title__middle h1 {
  font-size: 4vw;
  min-width: 100%;
  text-align: center;
}

.title__middle__paragraph-1 {
  font-size: 1vw;
  padding: 0.5em;
}

.title__middle__paragraph-2 {
  text-align: center;
  margin-bottom: 2%;
  padding: 1vw;
}

.title__middle__paragraph-2__span {
  color: red;
  margin: 2%;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: none;
}

.btn button {
  background-color: white;
  color: black;
  border-radius: 2px;
  padding: 1vw;
}

.card {
  width: 75%;
  margin: -7% auto 0 auto;
  -webkit-box-shadow: 1px 1px 9px 0 gainsboro;
  box-shadow: 1px 1px 9px 0 gainsboro;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 3vh;
}

.card__card1 {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.card__card1 img {
  height: 30px;
  margin-bottom: 2%;
}

.card__card1 p {
  text-align: center;
  padding: 1vw;
}

.card .vl {
  border-right: 1px solid gainsboro;
  height: 130px;
}

.paragraph {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 10%;
}

.paragraph img {
  height: 25px;
  width: 50px;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30%;
  width: 100%;
  background-color: gainsboro;
  margin-top: 2%;
}

@media (max-width: 851px) {
  .vl {
    display: none;
  }
  .container__bg-image {
    height: 700px;
  }
  .card__card1 p {
    border-bottom: 1px solid gainsboro;
  }
  .card :last-child p {
    border: none;
  }
  .card {
    margin-top: -230px;
  }
  .about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .about-us img {
    width: 100% !important;
  }
}
