* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: auto;
  height: 100%;
  border: 1px solid black;
}

.top-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 96%;
  height: 100%;
  /* justify-content: space-between; */
}

.top-container__section-1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.top-container__section-1__header {
  font-size: 2em;
}

.top_container__pno {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-container > div,
.message-container > div {
  margin: 2%;
}

.message-container {
  width: 96%;
  border: 1px solid black;
}

.message-container__first-line {
  display: flex;
}

.message-container__first-line select {
  width: 20%;
}

.message-container__first-line > p,
.message-container__second-line > p {
  width: 20%;
  text-align: right;
}

.message-container__second-line {
  display: flex;
}

.message-container__second-line__flex-1 {
  flex: 1;
}

.message-container__second-line__flex-1 > textarea {
  width: 100%;
}

.message-container__second-line__flex-1 p {
  text-decoration: underline;
}

.message-container__second-line__flex-2 {
  display: flex;
  margin-top: 4%;
  justify-content: start;
  align-items: center;
}

.message-container__second-line__flex-2 button {
  height: 3em;
  outline: none;
}

.tabs-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.tabs-container a {
  width: 25%;
  text-align: right;
}

.tabs-container__left-tags {
  display: flex;
  width: 100%;
}

.tabs-container__left-tags > p {
  width: 25%;
  border: 1px solid black;
  margin-right: 1%;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  border-top: 1px solid black;
}

.first-section {
  display: flex;
  justify-content: space-between;
}

.first-section__span-1 {
  font-size: 1.5rem;
}

.first-section__span-2 {
  text-decoration: underline;
  color: gray;
}

.first-section a {
  font-size: 1.5rem;
}

.second-section {
  display: grid;
  height: 600px;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  width: 96%;
  background-color: wheat;
}

.bottom-container > * {
  margin: 1%;
}

.second-section__input-1 {
  grid-row: 2/4;
  grid-column: 1/11;
  height: 3em;
}

.second-section__btn-1 {
  grid-row: 2/4;
  grid-column: 11/13;
  height: 3em;
  margin-left: 2%;
}

.second-section__div-1 {
  grid-row: 5/6;
  grid-column: 1/7;
}

.second-section__div-2 {
  grid-row: 7/9;
  grid-column: 1/13;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  height: 3em;
  text-align: center;
}

.second-section__paragraph-2 {
  grid-row: 10/11;
  grid-column: 1/4;
}

.second-section__paragraph-3 {
  grid-row: 12/14;
  grid-column: 1/11;
  padding: 1em;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.second-section__paragraph-4 {
  grid-row: 15/16;
  grid-column: 10/14;
  text-align: right;
}

.second-section__paragraph-5 {
  grid-row: 17/19;
  grid-column: 3/14;
  padding: 1em;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.second-section__paragraph-6 {
  grid-row: 20/21;
  grid-column: 1/4;
}

.second-section__paragraph-7 {
  grid-row: 22/24;
  grid-column: 1/10;
  padding: 1em;
  background-color: gray;
}

.second-section__lastbox {
  display: flex;
  flex-direction: column;
  grid-row: 25/26;
  justify-content: center;
  align-items: center;
  grid-column: 4/9;
  padding: 1em;
  background-color: gray;
}

.second-section__lastbox a {
  font-size: 1.5em;
  color: #000;
}
