* {
  margin: 0;
  padding: 0;
}

.container {
  width: 70%;
  margin: auto auto;
  border: 3px solid red;
  height: 100%;
}

.top-container {
  height: 45%;
  display: flex;
  flex-wrap: wrap;
}

.first-section {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.top-container > div {
  margin-left: 2%;
  margin-right: 2%;
}

.first-section__box {
  height: 70px;
  width: 20%;
  background-color: pink;
}

.second-section {
  border: 1px solid red;
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.second-section__box {
  background-color: pink;
}

.second-section__box1 {
  height: 100px;
  width: 30%;
  border: 1px solid gold;
}

.second-section__box2 {
  height: 30px;
  border: 1px solid gray;
  width: 10%;
  align-items: baseline;
}

.fourth-section {
  height: 100%;
  width: 100%;
  border: 5px solid black;
}

.fourth-section > .fourth-section-1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.fourth-section-1__box-1 {
  height: 20px;
  width: 20%;
  background-color: red;
}

.fourth-section-1__box-2 {
  height: 40px;
  width: 37%;
  background-color: black;
}

.fourth-section-1__box-3 {
  height: 20px;
  width: 37%;
  background-color: black;
}

.fourth-section-2 {
  display: flex;
  align-items: flex-start;
}

.fourth-section div {
  margin: 1%;
}

.fourth-section-2__nested {
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 80%;
  flex-wrap: wrap;
}

.fourth-section-2__box-1 {
  height: 80px;
  width: 100%;
  background-color: blueviolet;
}

.fourth-section-2__box-2 {
  height: 20px;
  width: 50%;
  background-color: blueviolet;
}

.fourth-section-3 {
  display: flex;
  /* justify-content: center; */
  width: 100%;
  height: 20%;
  align-items: center;
  border: 3px solid red;
}

.fourth-section-3__box-1 {
  width: 30%;
  height: 40px;
  background-color: saddlebrown;
}

.fourth-section-3__box-2 {
  width: 30%;
  height: 20px;
  background-color: saddlebrown;
}

.bottom-container {
  height: 100%;
}

.fourth-section-3__box-3 {
  background-color: white;
}

div > div {
  margin: 1%;
}
